<!DOCTYPE html>
<html>
<head>
    <title>Moviq Simple Example</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/moviq.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
</head>
<body>
    <h1>Simple Example</h1>
    <div id="main">
        
        <div class="moviq-video vid2">

        </div>
    
    </div>
    
    <script src="/scripts/lib/hilary/hilary.min.js"></script>
    <script src="/scripts/moviq.js"></script>
    <script>
        var moviq = new Moviq(),
            vids,
            vid2;
        
        vids = moviq.ify('.vid2', {
            poster: 'https://conato26.files.wordpress.com/2012/07/cat-power-sun.jpeg', //'http://dontpanic.acatar.local/shell/assets/download/18b204db-a460-4fbe-89b8-e6670b4cb9e4',
            header: 'Acatar Pitch 2',
            preload: 'metadata',
            sources: [
                { type: 'video/mp4', label: 'HD', src: 'https://psamedia01ue.blob.core.windows.net/asset-c8eadb58-570e-4840-b965-a83b1d3270af/AcatarPitch_H264_3400kbps_AAC_und_ch2_96kbps.mp4?sv=2014-02-14&sr=c&sig=2L10915N3DQ4%2B8SF%2FsnQ8ocPiL%2B7YFqEaNf3%2B0MZlVo%3D&st=2015-04-06T04%3A00%3A00Z&se=2015-05-05T04%3A00%3A00Z&sp=r' },
                { type: 'video/mp4', label: 'SD', src: 'https://psamedia01ue.blob.core.windows.net/asset-c8eadb58-570e-4840-b965-a83b1d3270af/AcatarPitch_H264_1500kbps_AAC_und_ch2_96kbps.mp4?sv=2014-02-14&sr=c&sig=2L10915N3DQ4%2B8SF%2FsnQ8ocPiL%2B7YFqEaNf3%2B0MZlVo%3D&st=2015-04-06T04%3A00%3A00Z&se=2015-05-05T04%3A00%3A00Z&sp=r' },
                { type: 'video/mp4', label: 'LD', src: 'https://psamedia01ue.blob.core.windows.net/asset-c8eadb58-570e-4840-b965-a83b1d3270af/AcatarPitch_H264_400kbps_AAC_und_ch2_96kbps.mp4?sv=2014-02-14&sr=c&sig=2L10915N3DQ4%2B8SF%2FsnQ8ocPiL%2B7YFqEaNf3%2B0MZlVo%3D&st=2015-04-06T04%3A00%3A00Z&se=2015-05-05T04%3A00%3A00Z&sp=r' },
                { type: 'video/mp4', label: 'Original', src: 'https://psamedia01ue.blob.core.windows.net/asset-757229e6-2ef1-4d97-89ca-440357e5df06/AcatarPitch.mp4?sv=2014-02-14&sr=c&sig=Mem6JGBXEY9vc0C81rQjxPA9WrtxJQJp6H41PnYjySY%3D&st=2015-04-06T04%3A00%3A00Z&se=2015-05-05T04%3A00%3A00Z&sp=r' }
            ],
            captions: [
                { srclang: 'en', label: 'English', src: '/captions/example.vtt' },
                { srclang: 'sp', label: 'Spanish', src: '/captions/example.vtt' }
            ]
        });
        
        vid2 = vids[0];
    </script>
</body>
</html>
