<!DOCTYPE html>
<html>
<head>
    <title>Moviq Simple Example</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/moviq.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
</head>
<body>
    <h1>Simple Example</h1>
    <div id="main">
        
        <div class="moviq-video vid2">

        </div>
    
    </div>
    
    <script src="/scripts/lib/hilary/hilary.min.js"></script>
    <script src="/scripts/moviq.js"></script>
    <script>
        var moviq = new Moviq(),
            vid2;
        
        vid2 = moviq.ify('.vid2', {
            poster: '',
            header: 'Acatar Pitch 2',
            preload: 'metadata',
            sources: [
                { type: 'video/mp4', label: 'HD', src: 'https://psamedia01ue.blob.core.windows.net/asset-c8eadb58-570e-4840-b965-a83b1d3270af/AcatarPitch_H264_3400kbps_AAC_und_ch2_96kbps.mp4?sv=2014-02-14&sr=c&sig=K1mFVg0JelwUz7gfUHBtYitGQzHGD2qYyoz5xbnepWM%3D&st=2015-03-13T04%3A00%3A00Z&se=2015-04-04T04%3A00%3A00Z&sp=r' },
                { type: 'video/mp4', label: 'SD', src: 'https://psamedia01ue.blob.core.windows.net/asset-c8eadb58-570e-4840-b965-a83b1d3270af/AcatarPitch_H264_1500kbps_AAC_und_ch2_96kbps.mp4?sv=2014-02-14&sr=c&sig=K1mFVg0JelwUz7gfUHBtYitGQzHGD2qYyoz5xbnepWM%3D&st=2015-03-13T04%3A00%3A00Z&se=2015-04-04T04%3A00%3A00Z&sp=r' },
                { type: 'video/mp4', label: 'LD', src: 'https://psamedia01ue.blob.core.windows.net/asset-c8eadb58-570e-4840-b965-a83b1d3270af/AcatarPitch_H264_400kbps_AAC_und_ch2_96kbps.mp4?sv=2014-02-14&sr=c&sig=K1mFVg0JelwUz7gfUHBtYitGQzHGD2qYyoz5xbnepWM%3D&st=2015-03-13T04%3A00%3A00Z&se=2015-04-04T04%3A00%3A00Z&sp=r' }
            ],
//            captions: [
//                { srclang: 'en', label: 'English', src: '/captions/example.vtt' },
//                { srclang: 'sp', label: 'Spanish', src: '/captions/example.vtt' }
//            ]
        });
    </script>
</body>
</html>
