// out: moviq.css

@import 'variables.less';
@import 'mixins.less';

@speed-width: 200px;

.fullscreen() {
    position: absolute !important;
    left: -5px !important;
    right: -5px !important;
    top: -5px !important;
    bottom: -5px !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0;

    .moviq-controls {
        margin: auto;
        width: @video-controls-width;
        min-width: @video-controls-min-width;
        max-width: @video-controls-max-width;
        .border-radius();
    }
}

/*
// Video Player
*/
.moviq-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow:hidden;
	background:#000;
	color:#ccc;
    margin: auto;
    .box-shadow(0, 0, 5px, rgba(0,0,0,0.5));

    &:-webkit-full-screen { .fullscreen(); }
    &:-moz-full-screen { .fullscreen(); }
    &:-ms-full-screen { .fullscreen(); }
    &:fullscreen { .fullscreen(); }
    &.fullscreen { .fullscreen(); }

    .moviq-hidden {
        display: none !important;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Hide the Shadow DOM video controls in full-screen mode */
    video::-webkit-media-controls-enclosure {
      display: none !important;
    }

    .moviq-snapshot {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: @fullscreen-zindex;
    }

    .moviq-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: @fullscreen-zindex;
    }

    .moviq-header {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 10px;
        color: @text-color;
        font-size: @font-size;
        font-weight: @header-font-weight;
        text-align: center;
        background: rgba(0,0,0,0.4);
        text-transform: uppercase;
        .backface-visibility(hidden);
        z-index: @fullscreen-zindex;
    }

    .moviq-controls {
        color: @text-color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: @btn-size + @progress-size;
        padding-bottom: 0;
        background-color: @control-background;
        z-index: @fullscreen-zindex;

        &.with-quality {
            height: @controls-more-in-size;

            .moviq-controls-quality {
                opacity: 1.0;
                pointer-events: auto;
            }
        }

        &.with-speed {
            height: @controls-more-in-size;

            .moviq-controls-speed {
                opacity: 1.0;
                pointer-events: auto;
            }
        }

        &.with-cc {
            height: @controls-more-in-size;

            .moviq-controls-cc {
                opacity: 1.0;
                pointer-events: auto;
            }
        }

        .moviq-controls-enclosure,
        .moviq-controls-enclosure-more {
            margin: auto;
            word-wrap: normal;
            cursor: default;

            .moviq-controls-left {
                position: absolute;
                left: 0;
                bottom: 2px;
                padding-left: 5px;
            }

            .moviq-progress {
                position: absolute;
                left: @controls-left-size;
                right: @controls-right-size;
                bottom: 13px;

                .moviq-progress-display,
                .moviq-progress-picker {
                    font-size: .5em;
                }

                .moviq-progress-picker {
                    position: absolute;
                    top: -12px;
                }

                .moviq-progress-bar {
                    width: 100%;
                    background-color: transparent;
                    height: 10px;
                    border: 1px solid rgba(255,255,255,0.2);
                    cursor: pointer;

                    span {
                        position: absolute;
                        height: 10px;
                    }

                    .moviq-progress-buffer {
                        z-index:5;
                        width:0;
                        background: rgba(255,255,255,0.2);
                    }

                    .moviq-progress-time {
                        z-index:10;
                        width:0;
                        background-color: @progress-bar-color;
                    }
                }
            }

            .moviq-controls-right {
                position: absolute;
                right: 0;
                bottom: 2px;
                padding-right: 5px;
            }

            .moviq-btn {
                width: @btn-size;
                height: @btn-size;
                cursor: pointer;
                font-size: @font-size;
                background-color: transparent;
                color: @text-color;
                border: none;

                &:hover,
                &.selected {
                    color: @btn-hover-color;
                }

                &.moviq-btn-text {
                    width: auto;
                    font-weight: 700;
//                    font-size: .9em;
//                    margin-top: .1em;
                }

                &.disabled {
                    color: @text-color-disabled;
                    cursor: default;
                }
            }

        } // /enclosure

        .moviq-controls-enclosure-more {
            position: absolute;
            bottom: @btn-size;
            left: 10px;
            right: 10px;
            opacity: 0;
            pointer-events: none;
            .transition(opacity 0.5s ease);

            input[type=range] {
                /*removes default webkit styles*/
                -webkit-appearance: none;

                /*fix for FF unable to apply focus style bug */
                // border: 1px solid white;
                border: none;

                /*required for proper track sizing in FF*/
                width: @speed-width;

                // margin: 0;
                // padding: 0;
                // margin-top: 15px;
                margin-top: 9px;
                background-color: transparent;

                // fix IE padding
                padding: 0;
            }
            input[type=range]::-webkit-slider-runnable-track {
                width: @speed-width;
                height: 5px;
                background: #ddd;
                border: none;
                border-radius: 3px;
                margin-top: 6px;
            }
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: @progress-bar-color;
                margin-top: -4px;
            }
            input[type=range]:focus {
                outline: none;
            }
            input[type=range]:focus::-webkit-slider-runnable-track {
                background: #ccc;
            }

            input[type=range]::-moz-range-track {
                width: @speed-width;
                height: 5px;
                background: #ddd;
                border: none;
                border-radius: 3px;
            }
            input[type=range]::-moz-range-thumb {
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: @progress-bar-color;
            }

            /*hide the outline behind the border*/
            input[type=range]:-moz-focusring {
                outline: 1px solid transparent;
            }

            input[type=range]::-ms-track {
                width: @speed-width;
                height: 5px;

                /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
                background: transparent;
                background-color: transparent;

                /*leave room for the larger thumb to overflow with a transparent border */
                border-color: transparent;
                border-width: 6px 0;

                /*remove default tick marks*/
                color: transparent;
            }
            input[type=range]::-ms-fill-lower {
                background: #777;
                border-radius: 10px;
            }
            input[type=range]::-ms-fill-upper {
                background: #ddd;
                border-radius: 10px;
            }
            input[type=range]::-ms-thumb {
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: @progress-bar-color;
            }
            input[type=range]:focus::-ms-fill-lower {
                background: #888;
            }
            input[type=range]:focus::-ms-fill-upper {
                background: #ccc;
            }

            .moviq-btn,
            input,
            output {
                float: right;

                &.moviq-btn-text {
                    font-weight: 700;
                }

                // &.moviq-speed-chooser {
                //     margin-top: 0;
                // }
                //
                &.moviq-current-speed {
                    margin-top: 9px;
                    margin-left: 10px;
                    width:40px;
                }

                &.moviq-btn-choose-cc {
                    width: 80px;
                }

                &.moviq-btn-back-10,
                &.moviq-btn-fwd-10 {
                    width: 50px;
                    float: none;
                    font-size: .9em;
                }
            }

        } // /.moviq-controls-enclosure-more

    } // /controls

} // /.video-container
